{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMA</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
</head>
<body>
    <div class="bg-gradient-to-tr from-gray-700 via-gray-900 to-black">
        <div>
            <nav class=" shadow-gray-300 w-100 px-10 md:px-auto sticky font-serif" >
                <div class="md:h-16 h-28 mx-auto md:px-4 container flex items-center justify-between flex-wrap md:flex-nowrap">
                    <!-- Logo -->
                    <div class="text-indigo-500 md:order-1">
                        <!-- Heroicon - Chip Outline -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
                        </svg>
                    </div>
                    <div class="text-gray-500 order-3 w-full md:w-auto md:order-2">
                        <ul class="flex font-semibold justify-between text-white">
                            <!-- Active Link = text-indigo-500
                            Inactive Link = hover:text-indigo-500 -->
                            <li class="md:px-4 md:py-2 text-indigo-500"><a href="#">Home</a></li>
                            <li class="md:px-4 md:py-2 hover:text-indigo-600"><a href="../Dashboard">Dashboard</a></li>
                            <li class="md:px-4 md:py-2 hover:text-indigo-600"><a href="../Host">Host</a></li>
                            <li class="md:px-4 md:py-2 hover:text-indigo-600"><a href="../Book">Book</a></li>
                            <li class="md:px-4 md:py-2 hover:text-indigo-600"><a href="../About">About</a></li>
                        </ul>
                    </div>
                    <div class="order-2 md:order-3">
                        <button class="px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-gray-50 rounded-xl flex items-center gap-2">
                            <!-- Heroicons - Login Solid -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span  id="connectWallet" onclick="connectWalletWithMetaMask()">Connect Wallet</span>
                        </button>
                      
                          <script type="text/javascript">
                            window.userWalletAddress = null;
                            const connectWallet = document.getElementById('connectWallet');
                            const walletAddress = document.getElementById('walletAddress');
                            const walletBalance = document.getElementById('walletBalance');
                      
                            async function connectWalletWithMetaMask() {
                              if (typeof window.ethereum === 'undefined') {
                                connectWallet.innerText = 'MetaMask is not installed, please install it';
                                return;
                              }
                
                              
                              try {
                                await window.ethereum.enable(); // Request permission to connect
                                const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
                      
                                if (accounts.length === 0) {
                                  return;
                                }
                      
                                window.userWalletAddress = accounts[0];
                                walletAddress.innerText = window.userWalletAddress;
                      
                                connectWallet.innerText = 'Sign Out';
                                connectWallet.removeEventListener('click', connectWalletWithMetaMask);
                                connectWallet.addEventListener('click', signOutOfMetaMask);
                              } catch (error) {
                                console.error(error);
                              }
                            }
                      
                            function signOutOfMetaMask() {
                              window.userWalletAddress = null;
                              walletAddress.innerText = '';
                              connectWallet.innerText = 'Connect Wallet';
                      
                              connectWallet.removeEventListener('click', signOutOfMetaMask);
                              connectWallet.addEventListener('click', connectWalletWithMetaMask);
                            }
                      
                            async function checkBalance() {
                              if (!window.userWalletAddress) {
                                return;
                              }
                      
                              try {
                                const balance = await window.ethereum.request({
                                  method: 'eth_getBalance',
                                  params: [window.userWalletAddress, 'latest'],
                                });
                      
                                const etherBalance = parseFloat(window.web3.utils.fromWei(balance, 'ether'));
                      
                                walletBalance.innerText = etherBalance;
                              } catch (error) {
                                console.error(error);
                              }
                            }
                      
                            window.addEventListener('DOMContentLoaded', () => {
                              connectWallet.addEventListener('click', connectWalletWithMetaMask);
                            });
                      
                          </script>
                    </div>
                </div>
            </nav>
        </div>

        <div>
            <div class=" flex">
                <div class=" pl-16 pt-28 text-6xl font-bold font-serif leading-relaxed text-white">
                    Welcome to the <span class=" text-7xl" style="color: rgb(99 102 241);">DEMA</span>
                    <div class=" text-lg"> 
                        ━  <span class=" text-indigo-500 text-2xl">D</span>ecentralized <span class=" text-indigo-500 text-2xl">E</span>vent <span class=" text-indigo-500 text-2xl">M</span>anagement <span class=" text-indigo-500 text-2xl">A</span>pplication
                    </div>
                    <div class="font-serif text-2xl pt-12">
                        This platform allows to book tickets for the events without any frauding done and have a safe transaction.
                    </div>
                </div>
                <img class=" w-1/2 pl-10" src="C:/Users/manic/OneDrive/Desktop/ticket3/templates/images/5387c8a2-5657-4ce3-8d9d-f89266c9b43c.png" alt="image"/>
            </div>
        </div>

        <div class=" pt-6 font-serif pl-16 text-white">
            <div class=" text-center underline text-6xl pb-5">
                The main motive of the Ticket3 are:
            </div>
        </div>

        <div class=" pt-6 pl-10 pb-14 flex gap-5">
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Reduction of Black Tickect</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 pt-6 pb-6">The tickets that are sold as black for higher cost is reduced in this site.</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-indigo-500 hover:text-indigo-500 ">
                        Read more
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ticket Ownership</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 pt-6 pb-6">The tickets are also generated with the buyer name and give them their ownership.</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-indigo-500 hover:text-indigo-500">
                        Read more
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sell Your Ticket in Our Platform</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The tickets can be transfered to another person for the sale price without any additional charges and the ownership is changed
                        to the new buyer within our platform.</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-indigo-500 hover:text-indigo-500">
                        Read more
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class=" pl-10 pb-14 flex gap-5">
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Reduction of Black Tickect</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 pt-6 pb-6">The tickets that are sold as black for higher cost is reduced in this site.</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-indigo-500 hover:text-indigo-500">
                        Read more
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ticket Ownership</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 pt-6 pb-6">The tickets are also generated with the buyer name and give them their ownership.</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-indigo-500 hover:text-indigo-500">
                        Read more
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sell Your Ticket in Our Platform</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The tickets can be transfered to another person for the sale price without any additional charges and the ownership is changed
                        to the new buyer within our platform.</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-indigo-500 hover:text-indigo-500">
                        Read more
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'components/footer.html' %}

</body>
</html>